@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 70px;
  display: block;
}

.my-popup {
  font-size: 0.9rem; /* Change font size */
  overflow-y: auto;
  max-height: 400px;
  color: #2b2b2b; /* Change background color */
  text-align: left;
}